@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
}
body{
    width: 100%;
}
.width{
    width: 1130px;
    margin: auto;
}
.menu{
    position: relative;
    box-shadow: 0px 1px 8px 0px rgba(52, 59, 67, 0.144);
}
.hamburger-menu{
    display: none;
}
.menu-top-layout{
    width: 100%;
    background: #22A699;
}
.menu-top{
    padding: 13px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-top ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.menu-top ul a{
    outline: none;
    text-decoration: none;
}
.menu-top ul li{
    color: white;
    font-size: 17px;
}
.menu-item-top{
    display: flex;
    align-items: center;
    gap: 23px;
}
.menu-item-top button{
    background: transparent;
    outline: none;
    border: 1.2px solid white;
    border-radius: 50px;
    padding: 8px 13px;
    padding-right: 15px;
    gap: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.menu-item-top button iconify-icon{
    color: white;
    font-size: 19px;
}
.menu-item-top button span{
    font-size: 15px;
    color: white;
    font-weight: 300;
}
#hiddenPrimaryMenu button{
    display: none;
}
.sign-in{
    display: none;
}

.cart-icon{
    margin-bottom: -2px;
    position: relative;
}
.cart-icon iconify-icon{
    font-size: 31px;
    color: white;
}
.wishlist-icon iconify-icon{
    font-size: 37px;
}
.ciri-masuk{
    position: absolute;
    right: 0;
    top: 0;
    background: #F24C3D;
    width:13px;
    height: 13px;
    border-radius: 50px;
}
.ciri-masuk span{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 9px;
    color: white;
}
.popup-menu{
    display: none;
}

.primary-menu{
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 15;
    background: white;
    
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    max-width: 147px;
    margin-bottom: -6px;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-menu ul{
    display: flex;
    list-style: none;
    gap: 28px;
}
.nav-menu ul li{
    font-size: 17px;
    color: #1E1E1E;
    font-weight: 500;
}
.nav-menu iconify-icon{
    font-size: 25px;
    color: #F24C3D;
}
.nav-menu button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.hamburger-primary-menu{
    display: none;
}
#hiddenSearch{
    transform: translateY(0%) translateX(-50%);
    width: 1130px;
    opacity: 0;
    left: 50%;
    position: absolute;
    transition: .3s all;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
}
#hiddenSearch.showSearch{
    opacity: 1;
    transform: translateY(30%) translateX(-50%);
}
#hiddenSearch input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    
}
.search-box{
    box-shadow: 7px 7px 0px 0px #22A699;
    padding: 7px 15px;
    background: white;
    display: flex;
    align-items: center;
}
.search-box button{
    border:none;
    outline: none;
    background: #22A699;
    font-size: 13px;
    color: white;
    padding: 3px 9px;
}
.banner{
    width: 100%;
    height: 80vh;
    position: relative;
    
}
.banner img{
    object-fit: cover;  
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.section-1{
    padding: 70px 0;
    text-align: center;
}
.heading-section-1 h1{
    font-size: 32px;
    margin-bottom: 40px;
}
.heading-section-1 span{
    color: #22A699;
}

.categorySlide{
    width: 1130px !important;
    margin: auto !important;
    padding: 0 30px !important;
}
.categorySlide .swiper-wrapper{
    padding-bottom: 50px;
}
.box-category{
    position: relative;
    width: 100%;
    height: 340px;
    background-color: rgba(34, 166, 153, 0.123);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.image-box-category{
    position: relative;
    width: 250px;
    height: 270px;
    margin: auto;
    margin-bottom: 50px;
}
.image-box-category img{
    max-width: 100%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    object-position: center;
}
.content-box-category{
    background: white;
    box-shadow: 8px 8px 0px 0px #22A699;
    width: 86%;
    padding: 13px;
    position: absolute;
    bottom: -3%;
    left: 49%;
    transform: translateX(-50%);
}
.content-box-category h4{
    font-size: 20px;
    font-weight: 500;
}
.swiper-button-prev {
    background-image: url(../images/prev.svg) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
.swiper-button-next {
    background-image: url(../images/next.svg) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
}
/* .categorySlide .swiper-button-next, .swiper-button-prev{
    position: absolute;
    top: 45% !important;
    width: 40px !important;
    height: 40px !important;
} */
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
    content: none !important;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    content: none !important;
}


.heading-section-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 30px;
}
.heading-section-2 h1{
    font-size: 30px;
    font-weight: 500;
}
.heading-section-2 button{
    background-color: #22A699;
    color: white;
    font-size: 20px;
    border: none;
    outline: none;
    padding: 7px 15px;
}
.swiper__product{
    padding: 0 30px !important;
    padding-bottom: 60px !important;
}
.swiper__product .swiper-wrapper{
    padding-bottom: 50px;
}
.box-category__product{
    width: 100%;
    position: relative;
    height: 270px;
}
.image-box-category__product{
    width: 160px;
    height: 180px;
    margin-bottom: 70px;
}
.content-box-category__product{
    background: white;
    box-shadow: 8px 8px 0px 0px #22A699;
    width: 86%;
    padding: 13px;
    position: absolute;
    bottom: -3%;
    left: 49%;
    transform: translateX(-50%);
    text-align: center;
}
.content-box-category__product h4{
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
}
.content-box-category__product span{
    font-size: 15px;
    font-weight: 500;
}
.diskon{
    position: absolute;
    right: 0;
    top: 0;
    width: max-content;
    height: max-content;
    background: #FE0000;
    padding: 0 6px;
    padding-bottom: 2px;
}
.diskon span{
    color: white;
    font-size: 11px;
}
.swiper__product .swiper-button-next{
    position: absolute;
    top: 36% !important;
    width: 40px !important;
    height: 40px !important;
}
.swiper__product .swiper-button-prev{
    position: absolute;
    top: 36% !important;
    width: 40px !important;
    height: 40px !important;
}
.swiper__categoryProduct .swiper-button-next{
    position: absolute;
    top: 45% !important;
    width: 40px !important;
    height: 40px !important;
}
.swiper__categoryProduct .swiper-button-prev{
    position: absolute;
    top: 45% !important;
    width: 40px !important;
    height: 40px !important;
}

.video{
    width: 100%;
    height: 94vh;
    position: relative;
}
.video img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.footer{
    background: #1F988C;
    padding: 30px 0;
    padding-top: 50px;
}
.layout-footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-content-logo{
    padding-right: 60px;
}
.footer-content-logo img{
    max-width: 70%;
    filter: brightness(0) invert(1);
}
.footer-content-logo h3{
    font-size: 21px;
    color: white;
    font-weight: 500;
}
.address-footer{
    margin: 18px 0;
}
.address-footer p{
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.footer-content-logo span{
    font-size: 17px;
    color: white;
}
.footer-menu{
    margin-top: 8px;
}
.footer-menu h3{
    color: white;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 17px;
}
.footer-menu ul{
    list-style: none;
    color: white;
}
.footer-menu ul li{
    font-size: 17px;
    color: white;
    margin-bottom: 9px;
    font-weight: 400;
}
.social-icon-footer{
    display: flex;
    gap: 9px;
}
.icon-box{
    width: 34px;
    height: 34px;
    border-radius: 50px;
    position: relative;
    background: white;
    margin-top: 7px;
}
.icon-box iconify-icon{
    color: #1F988C;
    font-size: 23px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.input-footer{
    margin-top: 16px;
    display: flex;
    gap: 7px;
}
.input-footer input{
    font-size: 16px;
    border: none;
    outline: none;
    padding: 6px 11px;
    width: max-content;
}
.input-footer input::placeholder{
    color: #1f988c6e;
}
.input-footer button{
    background: #F24C3D;
    padding: 6px 11px;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.footer-menu__center{
    margin-left: 35px;
}
.copyright{
    text-align: center;
    margin-top: 50px;
}
.copyright span{
    font-size: 16px;
    color: white;
}

@media (max-width:360px) {
    .width{
        width: 100%;
    }
    .menu-top{
        padding: 11px 0;
    }
    .menu-top-box ul{
        display: none;
    }
    .menu-item-top button{
        display: none;
    }
    .menu-top-layout{
        padding: 0 20px;
    }
    .hamburger-menu{
        display: flex;
        align-items: center;
        gap: 3px;
        background: transparent;
        border: none;
        color: #ffffff;
        font-size: 14px;
    }
    .popup-menu{
        transition: .3s all;
        width: 100%;
        height: 100%;
        position: fixed;
        left: 50%;
        top: 50%;
        display: none;
        z-index: 30;
    }
    .popup-menu-overlay{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(43, 43, 43, 0.315);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .popup-menu-box{
        background: white;
        width: 95%;
        padding: 13px 30px;
        animation-name: transisi;
        animation-duration: .4s;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }
    @keyframes transisi {
        0%{
            opacity: 0;
            transform: scale(0);
        }
        100%{
            opacity: 1;
            transform: scale(1);
        }
    }
    .popup-menu-box ul{
        list-style: none;
    }
    .popup-menu-box ul li{
        border-bottom: 1px solid #1f988c2d;
        padding: 16px 0;
        color: #1F988C;
        font-size: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .popup-menu-box ul li iconify-icon{
        font-size: 22px;
    }
    .menu-active{
        opacity: 1;
        display: block;
    }
    .cart-icon{
        margin-bottom: -2px;
    }
    
    .cart-icon iconify-icon{
        font-size: 22px;
    }
    .wishlist-icon iconify-icon{
        font-size: 26px;
    }
    .ciri-masuk{
        width:11px;
        height: 11px;
    }
    .ciri-masuk span{
        font-size: 7px;
    }

    .primary-menu{
        padding: 18px 20px;
        padding-bottom: 10px;
    }
    .logo img{
        max-width: 47%;
        margin-bottom: 4px;
    }
    .nav-menu{
        gap: 15px;
    }
    /* .nav-menu ul{
        display: block;
    } */
    .hamburger-primary-menu{
        display: block;
    }
    .hamburger-primary-menu iconify-icon{
        font-size: 23px;
    }
    .nav-menu button{
        border: none;
        outline: none;
    }

    #hiddenPrimaryMenu{

        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: #161616a6;
        transition: .4s all;
        z-index: 20;
        display: none;
        align-items: center;
        justify-content: center;
    }
    #hiddenPrimaryMenu.showPrimaryMenu{
        display: flex;
    }
    #hiddenPrimaryMenu ul{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #ffffff;
        box-shadow: 7px 7px 0px 0px #22A699;
        width: 80%;
        height: 50vh;
        animation-name: transisi;
        animation-duration: .4s;
        animation-delay: 0s;
        animation-iteration-count: 1;
    }
    #hiddenPrimaryMenu ul li{
        color: rgb(12, 12, 12);
        font-size: 18px;
    }
    .sign-in{
        display: flex;
        align-items: center;
    }
    #hiddenPrimaryMenu button{
        display: block;
        right: 9%;
        top: 16%;
        position: absolute;
        background: white;
        border-radius: 50px;
        width: 40px;
        animation-name: transisi;
        animation-duration: .4s;
        animation-delay: 0s;
        animation-iteration-count: 1;
        height: 40px;
    }
    #hiddenPrimaryMenu button iconify-icon{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #hiddenSearch{
        transform: translateY(0%) translateX(0);
        width: 100%;
        opacity: 0;
        left: 0;
        position: absolute;
        transition: .3s all;
        z-index: 5;
        display: flex;
        justify-content: flex-end;
        background: red;
    }
    #hiddenSearch.showSearch{
        opacity: 1;
        transform: translateY(30%) translateX(0);
    }
    #hiddenSearch input{
        font-size: 16px;
        width: 100%;
    }
    .search-box{
        background: white;
        width: 100%;
        padding: 7px 20px;
    }

    .section-1{
        padding: 40px 0;
    }
    .heading-section-1 h1{
        font-size: 20px;
        margin-bottom: 40px;
    }
    .categorySlide{
        width: 100% !important;
        margin: auto !important;
        padding: 0 30px !important;
    }
}

.login{
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}
.heading-login{
    text-align: center;
}
.heading-login h2{
    font-size: 37px;
    margin-bottom: 25px;
    color: #1E1E1E;
}
.login-box-layout{
    box-shadow: 8px 8px 0px 0px #22A699, 1px 5px 24px 0px rgba(0, 0, 0, 0.08);
    width: max-content;
    padding: 25px;
    background: white;
}
.signup-layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 27px;
}
.form-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
    gap: 4px;
}
.form-box label{
    font-size: 16px;
    color: #1E1E1E;
    font-weight: 600;
}
.form-box input{
    font-size: 16px;
    background: transparent;
    outline: none;
    border: 1px solid #1F988C;
    padding: 6px 11px;
    width: 280px;
    color: #1F988C;
    font-weight: 500;
}
.form-box input::placeholder{
    color: rgba(34, 166, 153, 0.27);
}
.form-box textarea{
    font-size: 16px;
    background: transparent;
    outline: none;
    border: 1px solid #1F988C;
    padding: 6px 11px;
    width: 100%;
    color: #1F988C;
    font-weight: 500;
    height: 90px;
    resize: none;
}
.form-box textarea::placeholder{
    color: rgba(34, 166, 153, 0.27);
}
.login-box-layout button{
    width: 100%;
    outline: none;
    border: none;
    background: #1F988C;
    color: white;
    font-size: 17px;
    padding: 8px;
    cursor: pointer;
}
.lupa-sandi{
    font-size: 17px;
    color: #1E1E1E;
    font-weight: 500;
}
.lupa-sandi a{
    font-weight: 600;
    color: #1F988C;
}
.button-login-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap: 5px;
}